// Selector
// universal selector
*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    font-size: 1.5rem;
    font-weight: 600;
    color: #ff0000;
    text-align: center;
    border: 2px solid #000;
    padding: 20px;
    margin: 2px 2px 5px 2px;
    border-radius: 4px;
}
// Id selector
#container{
    display: flex;
    justify-content: center;
    margin: auto;
}
// Group Selector and Class Selector
#container .text-1,.text-2,.text-3,.text-4,.text-5{
    padding: 10px;
    background-color: #000;
}